*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    gap: 1rem;
}
.left{
    height: 100vh;
    width: 50vw;
}

label{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    letter-spacing: 4px;
    text-align: center;
}

input{
    width: 60%;
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    padding: 5px 15px;
    opacity: 0.5;
}

.add{
    width: 20%;
    height: 100%;
    background-color: #F6F4EB;
    border-radius: 8px;
    color: #749BC2;
    border: none;
    cursor: pointer;
    box-shadow: 5px 4px 10px #749BC2 ;
    margin-left: 0.5rem;
    font-weight: 600;
}
.add:hover{
    background-color: #4682A9;
    color: #F6F4EB;
}
.addfield{
    display: flex;
    width:100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

h4{
    align-self: flex-start;
    color: #4682A9;
    letter-spacing: 2px;
}

.right{
    /* background-color: antiquewhite; */
    background-image: url("https://images.unsplash.com/photo-1523634921619-37ce98c1877f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80");
    background-size: cover;
    height: 100vh;
    width: 50vw;
    padding: 20px;
}

.todoCard{
    background-color: #9BABB8;
    height: 90px;
    min-width: 200px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #8795a0;
    padding: 0.5rem;
}

.completeCard{
    background-color: #C4D7B2;
    min-width: 200px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #9fae90;
    padding: 0.5rem;
}

.image{
    position: absolute;
    top: 25px;
    left: 25px;
}

.delete{
    width: 100%;
    background-color: #EF6262;
    border-radius: 8px;
    color: #F6F4EB;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-weight: 600;
}
.completed{
    width: 100%;
    background-color: #C3EDC0;
    border-radius: 8px;
    color: green;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-weight: 600;
}

.actions{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: space-evenly;
    gap: 0.4rem;
}
.task{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 8px;
    background-color: #F6F4EB;
    padding: 5px 10px;
}
.todo{
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 0;
    margin-bottom: 0.5rem;
    gap: 0.9rem;
    overflow-y: scroll;
}

.complete{
    height: 20%;
    display: flex;
    padding: 15px 0;
    gap: 0.9rem;
    overflow-x: scroll;
}

.todo::-webkit-scrollbar {
    display: none;
}

.complete::-webkit-scrollbar {
    display: none;
}